{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <div class="content-container">
            <main class="content">
                <div class="centered-block">
                    <h1 class="title">Компьютеры и их влияния</h1>
                    <p class="content-text">Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    </p>
                </div>
            </main>
            <main class="content">
                <div class="centered-block">
                    <h1 class="title">Компьютеры и их влияния</h1>
                    <p class="content-text">Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    Многие люди, работа которых связана с компьютерами жалуются на проблемы со здоровьем,
                    такие как головная боль, заболевания кисти, боли в спине, плохое зрение.
                    Кроме того, проводя много времени за компьютером, начинаем чрезмерно питаться, 
                    что в свою очередь приводит к ожирению.
                    </p>
                </div>
            </main>
        </div>
{% endblock %}