{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <div class="users">
            <ul class="users-list">
                <li class="users-item">
                    <a href="/dialogue.html" class="user-link">
                        <span class="avatar"></span>
                        <span class="user-name">Имя пользователя</span>
                    </a>
                </li>
                <li class="users-item">
                    <a href="/dialogue.html" class="user-link">
                        <span class="avatar"></span>
                        <span class="user-name">Имя пользователя</span>
                    </a>
                </li>
                <li class="users-item">
                    <a href="/dialogue.html" class="user-link">
                        <span class="avatar"></span>
                        <span class="user-name">Имя пользователя</span>
                    </a>
                </li>
                <li class="users-item">
                    <a href="/dialogue.html" class="user-link">
                        <span class="avatar"></span>
                        <span class="user-name">Имя пользователя</span>
                    </a>
                </li>
                <li class="users-item">
                    <a href="/dialogue.html" class="user-link">
                        <span class="avatar"></span>
                        <span class="user-name">Имя пользователя</span>
                    </a>
                </li>
            </ul>
        </div>
{% endblock %}
</body>
</html>