{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <div >
            <img  class="register-img" src="{% static 'img/background-reg.png' %}" alt="">
            <div class="registration-form">
                <form action="{% url 'profiles' %}" method="POST">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="text" name="username" placeholder="Логин" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <input type="password" name="confirm_password" placeholder="Повторите пароль" required>
                    <button type="submit">Зарегистрироваться</button>
                    <h1> Уже есть аккаунт? <a href="{% url 'login' %}">войти</a></h1>
                </form>
            </div>
        </div>
{% endblock %}