html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

body {
    margin: 0;
    padding: 0;
    background: url("../img/background-reg.png") 
    no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Центрирование горизонтально */
    max-width: 1354px;
    margin: 0 auto;
    padding: 0 40px;
}


/*----------------------------------------------header----------------------------- */

.header {
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    background-color: #434343;
    z-index: 1;
}

.avatar-container {
    margin-left: auto; /* Это прижмет контейнер к правому краю */
}

.avatar-profile {
    width: 40px;
    height: 40px;
    margin-left: -200px;
    margin-top: 10px;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}

.logo-avatar-container {
    display: flex;
    align-items: center;
    
}

.header-namelogourl{
    text-decoration: none;

}

.header-namelogo {
    margin: 0;
    width: 148px;
    height: 49px;
    font-size: 60px;
    font-family: Seaweed Script;
    color: #979494;
    text-decoration: none;
}

/*--------------------------------register----------------------------------------*/

/* Ваши существующие стили ... */

.register-img {
    position: relative;
    width: 1000px;
    height: 660px;
    top: 180px;
}

.registration-form {
    position: absolute;
    left: 400px;
    top: 450px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.registration-form input {
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный белый цвет фона */
    display: block;
    width: 335px;
    padding: 10px;
    margin: 51px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    display: block;
    width: 360px;
    height: 48px;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Прозрачный белый цвет фона */
    color: #fff;
    border: none;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #333;
}

.registration-form h1 {
    width: 400px;
    position: absolute;
    top: 450px;
    left: 55px;
    color: #fff;
    font-size: 20px;
}
